.bottom-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 90px;
    width: 100%;
    background-image: linear-gradient(to bottom, 
                                        rgba(29,29,29,0),
                                        rgba(29,29,29,.6) 50%,
                                        rgba(29,29,29,.7) 70%,
                                        rgba(29,29,29,.8) 80%, 
                                        rgba(29,29,29,1) 100%
                                    ); 
}
.top-gradient {
    position: absolute;
    top: 0;
    left: 0;
    height: 130px;
    width: 100%;
    background-image: linear-gradient(to bottom, 
                                        rgba(29,29,29,.9),
                                        rgba(29,29,29,.7) 60%,
                                        rgba(29,29,29,.5) 80%, 
                                        rgba(29,29,29,0) 100%
                                    ); 
}
:root {
    --first-color: #242424;
    --second-color: #252525;
    --third-color: #262626;
}
.bg-header {
    background: linear-gradient(to bottom, var(--first-color) 0, var(--first-color) 33%, var(--second-color) 33%, var(--second-color) 66%, var(--third-color) 66%, var(--third-color) 100%);
} 
.bg-card {
    background: linear-gradient(to bottom, #232323 0, #232323 6%, #222222 6%, #222222 13%, #212121 13%, #212121 29%, #202020 29%, #202020 46%, #1f1f1f 46%, #1f1f1f 61%, #1e1e1e 61%, #1e1e1e 80%, #1d1d1d 80%, #1d1d1d 100%);
} 
.bg-footer {
    background: linear-gradient(to bottom, #232323 0, #232323 7.5%, #222222 7.5%, #222222 24.6%, #212121 24.6%, #212121 42%, #202020 42%, #202020 59.9%, #1f1f1f 59.9%, #1f1f1f 77.8%, #1e1e1e 77.8%, #1e1e1e 100%);
} 
.bg-header-dashboard {
    background: linear-gradient(to bottom, #252525 0, #252525 20%, #262626 20%, #262626 100% );
}
.bg-aside {
    background: linear-gradient(to bottom, #222222 0, #222222 15.1%, #212121 15.1%, #212121 31.4%, #202020 31.4%, #202020 47.9%, #1f1f1f 47.9%, #1f1f1f 66%, #1e1e1e 66%, #1e1e1e 87.4%, #1d1d1d 87.4%, #1d1d1d 100%);
}
.bg-body {
    background: linear-gradient(to bottom, #232323 0, #232323 2.7%, #222222 2.7%, #222222 17.1%, #212121 17.1%, #212121 30.9%, #202020 30.9%, #202020 45.7%, #1f1f1f 45.7%, #1f1f1f 61.6%, #1e1e1e 61.6%, #1e1e1e 80.8%, #1d1d1d 80.8%, #1d1d1d 100% );    
}




  





  